@keyframes audio-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes item-play {
  0% {
    height: 0.05rem;
  }
  50%{
    height: 0.14rem;
  }
  100% {
    height: 0.05rem;
  }
}
@keyframes q-play
  0%
    opacity 1
  50%
    opacity 0