// 专家音频列表
// ==================

.audio-list
  margin .1rem 0
  font-size .14rem
  background-color #ffffff
  li
    padding .15rem 0
    margin 0 .2rem
    text-align left
    border-bottom .01rem solid #dddddd
    &:last-child
      border-bottom none

.item
  display block
  &:before
  &:after
    display table
    content ""
    line-height 0
  &:after
    clear both
  a
    display block

  .ui-avatar
    width .6rem
    height .6rem
    .ui-label
      font-size .1rem
  .item-title
    max-height .5rem
    overflow hidden
    line-height 1.5

  .item-content
    margin-left .7rem
    position relative
    min-height .62rem
    strong
      font-size .16rem
      vertical-align middle
      color #000000
      line-height 1.2
      font-weight normal
    p
      margin 0
    .content-bottom
      width 100%
      position absolute
      left 0
      bottom 0

.ui-state
  width .3rem
  height .3rem
  border .015rem solid #fb8e7b
  background-color #ffffff
  border-radius 100%
  position absolute
  left .15rem
  top .15rem
  z-index 9
  opacity .8
  display none
  span
    display block
    vertical-align bottom
    width .015rem
    height .14rem
    background-color #fb8e7b
    border-radius .04rem
    font-size 0
    animation item-play 1s linear infinite

  .line-1
    position absolute
    left 25%
    bottom 0.06rem
  .line-2
    animation-delay .2s
    position absolute
    left 47.5%
    bottom 0.06rem
  .line-3
    animation-delay .4s
    position absolute
    left 69.5%
    bottom 0.06rem

.item-play
  .ui-state
    display block

.item-stop
  .ui-state
    span
      animation none

// 提问列表
// ==================
.q-item
  display block
  &:before
  &:after
    display table
    content ""
    line-height 0
  &:after
    clear both

  .ui-avatar
    width .5rem
    height .5rem

  .item-content
    margin-left .6rem
    position relative
    min-height .6rem
    strong
      font-size .16rem
      line-height 1
    p
      margin .05rem 0

  .q-audio-wrap
    margin-left .5rem
    display flex
    .triangle-left
      width 0
      height 0
      border-width .06rem
      border-style dashed solid dashed solid
      border-color transparent #5dd966 transparent transparent
      margin-top .18rem
    .pursue-ask
      display block
      width .5rem
      height .5rem
      background-color #5dd966
      border-radius .05rem
      margin-left .06rem
      text-align center
      line-height .5rem
      color #ffffff
      font-size .16rem
    .q-audio
      height .5rem
      width 100%
      background-color #5dd966
      border-radius .05rem
      flex 1
      span
        vertical-align middle
      time
        margin 0 .08rem
        line-height .5rem
        font-size .16rem
        color #ffffff
        vertical-align middle
      .ui-label
        float right
        margin .14rem .1rem 0 0
      .q-line-1
        display inline-block
        width 0
        height 0
        border-width .03rem
        border-style dashed solid dashed solid
        border-color transparent #ffffff transparent transparent
        margin-left .1rem
      .q-line-2
        display inline-block
        width .15rem
        height .15rem
        border-radius 100%
        border-width .02rem
        border-style dashed solid dashed dashed
        border-color: transparent #fff transparent transparent
        -webkit-font-smoothing antialiased
        -webkit-text-stroke-width .02rem
        margin-left -.1rem
      .q-line-3
        display inline-block
        width .23rem
        height .23rem
        border-radius 100%
        border-width .02rem
        border-style dashed solid dashed dashed
        border-color: transparent #fff transparent transparent
        -webkit-font-smoothing antialiased
        -webkit-text-stroke-width .02rem
        margin-left -.18rem

      &.q-play
        .q-line-2
          animation q-play 1.2s infinite linear
          animation-delay .3s
        .q-line-3
          animation q-play 1.2s infinite linear
          animation-delay .6s

// 热门页
.index-page
.replyed-page
.album-page
.more-page
.albumDetail-page
.news-page
  .list-title
    padding-top .1rem
    border-bottom .01rem solid #dddddd
    span
      display inline-block
      border-bottom .02rem solid #fb8e7b
      margin-bottom -.01rem
      font-size .16rem
      padding-bottom .05rem
    a.font-grey
      font-size .12rem
      margin-top .05rem
      &:visited
        color #999999

.album-page
  .audio-list
    margin 0

.ablum-brief
  max-height .4rem
  overflow hidden

.album-item
  padding .15rem 0
  margin 0 .2rem

.index-page
.detail-page
  .audio-list
    a.item
      &:link
        color black
      &:active
      &:visited
        color grey

.author-wrap.border-r
  margin .2rem
  padding .15rem
