// 元件: 头像

//size-nm = .6rem

.ui-avatar
  display inline-block
  width .6rem
  height .6rem
  border-radius .05rem
  overflow hidden
  position relative
  background-color #f6f6f6
  img
    display block
    width 100%

.ui-avatar-c
  border-radius 100%
