// 简介：头部样式
//==============================
.header
  background-color #fd8f7b
  height .5rem
  overflow hidden
  position relative
  h1
    width 60%
    text-align center
    margin 0
    padding .08rem .1rem
    position absolute
    left 20%
    top 0
    line-height .34rem
    color #ffffff
    font-size .22rem
    font-weight normal
    img
      height .22rem
      margin-top .05rem

.home-page
  .btn-trans
    width .6rem
    height .24rem
    position absolute
    right .15rem
    top .1rem
    color #ffffff
    &:visited
      color #ffffff
