// ==================================================
// 助手类
// ==================================================

// 隐藏/显示元素
.hidden
  display none !important
.show
  display block !important

.fl
  float: left
.fr
  float: right
.tl
  text-align left
.tr
  text-align right
.tc
  text-align center

// 不可见
.invisible
  visibility hidden

// 清除浮动
.clearfix
  clearfix()

// 文本隐藏
.hide-text
  hide-text()

// 文本高亮
.hl
  color orange

// 链接高亮
.hl-link
  highlight-link()

// 宽度
for i in 2..10
  .w{i}0
    width unit(i, "0%") !important

// 外间距
for i in 0 5 10 15 20 30 40 50
  .mt{i}
    margin-top unit(i/100, rem) !important
  .mr{i}
    margin-right unit(i/100, rem) !important
  .mb{i}
    margin-bottom unit(i/100, rem) !important
  .ml{i}
    margin-left unit(i/100, rem) !important

// 外间距
for i in 0 5 10 15 20 30 40 50
  .pt{i}
    padding-top unit(i/100, rem) !important
  .pr{i}
    padding-right unit(i/100, rem) !important
  .pb{i}
    padding-bottom unit(i/100, rem) !important
  .pl{i}
    padding-left unit(i/100, rem) !important

.p30
  padding .3rem

.font-xxxl
  font-size .4rem
.font-xxl
  font-size .24rem
.font-xl
  font-size .2rem
.font-lg
  font-size .18rem
.font-md
  font-size .16rem
.font-nm
  font-size .14rem
.font-sm
  font-size .12rem
.font-xs
  font-size .1rem

.font-green
  color #5dda66
.font-grey
  color #999999
.font-grey-lither
  color #dddddd
.font-pink
  color #fb8e7b!important
.font-pink-lither
  color #ffc1b2
.font-white
  color #ffffff
.bg-grey
  background-color #f6f6f6
.bg-white
  background-color #ffffff

.borer-b
  border-bottom .01rem solid #dddddd
.border-r
  border .01rem solid #dddddd
  border-radius .1rem

.clearfix
  &:before
  &:after
    display table
    content ""
    line-height 0
  &:after
    clear both
