// 全局通用样式
// =====================================================
body{
  background-color: body-bg-color;
  color: body-color;
  //background-image: body-img-url;
  //background-size: 100%;
  //background-repeat: no-repeat;
  //padding-top: body-padding-top;
}
.wrap{
  position relative
  margin 0 auto
  padding-bottom .5rem
  box-sizing border-box
  min-height 100%
  //background-color body-bg-color
  //max-width wrap-max-width
}
.ui-center
  text-align center
  .ui-avatar
    display inline-block

.flex{
  display: flex;
  justify-content: center;
  flex-flow: row;
}


.color-blue{
  color: blue!important;
}
.color-red{
  color: #ff4f26!important;
}
