// 遮罩
// ------------------------------
.ui-mask
  position fixed
  left 0
  top 0
  width 100%
  height 100%
  background rgba(0, 0, 0, .8)
  z-index 1000

.modal-wrapper
  position fixed
  left 50%
  top 50%
  width 80%
  height auto
  margin 0 auto
  padding .2rem
  box-sizing border-box
  background-color #ffffff
  border-radius .1rem
  transform translate(-50%,-50%)
  z-index 1001
  h3
    font-size .16rem
    text-align center
    color #6b2b08
    margin 0
.mask-close
  width: .35rem;
  height: .35rem;
  background: url("../assets/img/icon-close.png") no-repeat center center #ffffff;
  background-size: 50%;
  border-radius: 100%;
  position: absolute;
  top: -0.13rem;
  right: -0.13rem;
.popup-header
  width .55rem
  height .64rem
  background-size 100% 100%
  position absolute
  left 50%
  top -.4rem
  margin-left -.275rem
.mask-content
  width 100%
  font-size .14rem
  p
    font-size .18rem
  .btn
    display block
    width 100%
    margin .1rem auto 0 auto
  .btn-inline
    color white
    padding 0.06rem .15rem
    display inline-block
    margin 0 .1rem
    border-radius 0.02rem
    font-size .16rem
    min-width 40%
    a
      font-size .16rem
  .btn-s
    color #272727

.mask-footer
  text-align center
