// 皮肤主题基本样式设置
// ==================================================


// body皮肤主题
// ----------------------------
body-bg-color = #f6f6f6;
body-color = #666666;
body-img-url = url("");
body-padding-top = 0%;
wrap-max-width = 650px

// nav条皮肤主题
// ----------------------------
nav-bg-color = #ffffff;
// nav条字体与current背景
nav-a-color = #999999;
nav-aCurrent-color = #ff704c;
// nav高度
nav-height = .5rem;

// 全局通用border颜色
// ------------------------------
common-border-color = #aed977

// button按钮皮肤主题
// ------------------------------

// button-default颜色
btn-default-bg = #fff
btn-default-border = #ccc
btn-default-color = #333
// button-primary颜色
btn-primary-bg = #337ab7
btn-primary-border = #2e6da4
// button-success颜色
btn-success-bg = #5cb85c
btn-success-border = #4cae4c
// button-info颜色
btn-info-bg = #5bc0de
btn-info-border = #46b8da
// button-warning颜色
btn-warning-bg = #f0ad4e
btn-warning-border = #eea236
// button-danger颜色
btn-danger-bg = #d9534f
btn-danger-border = #d43f3a

// input获取焦点placeholder颜色
placeholder-color = #cccccc;

// ==================================================
// 基础配置
// ==================================================

// 灰度色
// ------------------------------
black = #000
gray-darker = #020202
gray-dark = #272727
gray = #808080
gray-light = #999
gray-lighter = #ccc
white = #FFF

// 彩色
// ------------------------------
header-bar-color = #205AAA
orange = #FFA200
blue = #5aacff
green = #40cd50
i-green = #e44b73
red = #ec524e
yellow = #ffe378
//red = #E04848
red-dark = #D80000
purple = #8169CD

// 链接色
// ------------------------------
// 正常状态
link-color = gray-dark
// 滑过状态
link-color-hover = #4F4644

// 链接高亮
link-highlight-color = #4F4644

// 链接触发背景
link-active-background = #F2F2F2

page-backgroud-color = #F0F0F0

// 排版
// ------------------------------

// 字体集
arial = Arial, Tahoma, "Helvetica Neue", Helvetica, sans-serif
tahoma = Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif
helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
georgia = Georgia, Cambria, "Times New Roman", Times, serif
times = "Times New Roman", Times, serif
yahei = "Hiragino Sans GB", "Microsoft Yahei", "SimSun"
heiti = "SimHei"
songti = "SimSun"

// 字体设置
browser-default-font-size = 10px
font-color = gray-dark
default-line-height = 1.5

// 等比例缩放
responsive = true

// 纵轴高度
z-index-header = 10200
z-index-loading = 10100
z-index-nav-main = 10000
z-index-filter-bar = 1100
z-index-mask = 100
z-index-navbar = z-index-mask - 1
z-index-tool-bar = 10