// 左右切换组件
// ------------------------------
.slide
  width 100%
  overflow hidden
  -webkit-overflow-scrolling: touch;
  position relative
.slide-item
  position relative
  left 0
  top 0
  transition left 800ms
  transform translate3d(0,0,0)
  li
    display inline-block
    vertical-align top
    padding .05rem 0
    overflow hidden
    a
      width 100%
      display flex
      justify-content center
      font-size .12rem
      .ui-avatar
        width .4rem
        height .4rem
        background-color none
      .expert-cont
        flex 1
        margin 0 .02rem
        strong
          font-size .12rem
          color #fb8e7b
          font-weight normal
        .expert-desc
          font-size .11rem
          color gray
  .morebtn
    text-align center
    a
      display inline-block
      width .7rem
      background-color #5dda66
      border-radius .04rem
      padding .02rem .05rem
      text-align center
      color #ffffff
      font-size .12rem
      margin-top .1rem

.slide-btn
  width 100%
  position relative
  left 0
  bottom 0
  text-align center
  span
    display inline-block
    width .06rem
    height .06rem
    border-radius 100%
    background-color #ffdbd2
    margin 0 .03rem
    transition width .3s
  .active
    width .12rem
    height .06rem
    background-color #ff907b
    border-radius .04rem
