// 简介：逗计划


// 主题皮肤样式设置
@import "_setting"

// reset
@import "_reset"

// 占位
@import "_placeholders"

// 按钮样式
@import "_button"

// 定制样式
@import "_customize"

// 辅助类样式
@import "_helpers"

// 全局通用样式
@import "_layout"


// 动画
@import "_animate"

@import "_transition"

// mixin的样式
@import "_utilities"

// 头像的样式
@import "_avatar"

@import "_loading"

@import "_icon"

@import "_label"

@import "_nav"

@import "_header"

// 消除数据初始化闪烁
[v-cloak]
  display none

// 空数据提示
.tips-null
  padding 50px 0
