// 关注页样式
.follow-item
  margin 0 .2rem
  border-bottom .01rem solid #dddddd
  &:last-child
    border-bottom none
  a
    display block
    padding .15rem 0
    &:before
    &:after
      display table
      content ""
      line-height 0
    &:after
      clear both
  .ui-avatar
    width .45rem
    height .45rem
  .item-content
    margin-left .55rem
    margin-right .4rem
    strong
      white-space nowrap
      margin-right .05rem
      vertical-align middle
    .font-grey-lither
      margin 0 .05rem
  .ui-label
    display inline-block
    max-width 1.15rem
    overflow hidden
    text-overflow ellipsis
