// 我的页样式
// ==================
.home-page
  .home-avatar
    padding .15rem .2rem .1rem .2rem
    background-color #ffffff
    position relative
    &:before
    &:after
      display table
      content ""
      line-height 0
    &:after
      clear both
    .ui-avatar
      width .5rem
      height .5rem
    .home-avatar-center
      position relative
      margin-left .6rem
      margin-right .7rem
      padding-top .05rem
      .user-name
        width 100%
        font-size .16rem
      .disabled
        background-color #ffffff
  .row-flex
    width 100%
    background-color #ffffff
    border-bottom .01rem solid #dddddd
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    a
      display block
      flex 1
      text-align center
      border-left .01rem solid #dddddd
      margin-bottom .1rem
      position relative
      padding-top .05rem
      &:first-child
        border-left none
      .font-grey
        font-size .12rem
      .ui-label
        padding 0 .05rem
        position absolute
        right 0
        top 0
        margin 0
  .audio-list
    background-color #ffffff
.home-avatar-right
  width .7rem
  text-align right
  padding-top .1rem

.btn-erweima
.btn-edit
  display inline-block
  size .35rem .4rem
  font-size .1rem
  text-align center
  overflow hidden
  .icon
    background-size 100%
.ui-block
  padding .2rem

.rule-list
  margin .1rem .2rem .1rem .3rem
  li
    list-style disc
    margin .05rem 0
.font-money
  line-height 1

.erweima-wrap
  width 30%
  margin .05rem auto
  padding .08rem
  background-color #eeeeee
  img
    display block
    width 100%
