// 首页样式
// ====================
.ranking-list
  padding 0 .2rem .1rem .2rem
  background-color #ffffff
  img
    width 100%


.more-sorts
  padding .05rem .2rem
  background-color #ffffff
  text-align center
  .catalogItem
    display inline-block
    width 20%
    margin 0 2.5% .1rem 2.5%
    img
      width 70%
      // min-width .56rem
    p
      margin 0
      font-size .11rem
      text-align center
      color #000000

.home-avatar
  background-color #ffffff
  padding .1rem .2rem
  position relative
  input[type="text"]
    border none
    padding .1rem .6rem .1rem .15rem
    border-radius .06rem
    width 100%
    background-color #e5e5e5
  .btn-search
    width .46rem
    height .36rem
    position absolute
    right .2rem
    bottom .1rem
    border none
    z-index 5
    background url("../assets/img/icon-search.png") no-repeat center center
    background-size 50%
.index-page
  .audio-list
    background-color #ffffff
    margin-top .1rem
  .list-title
    padding-top .1rem
    border-bottom .01rem solid #dddddd
    span
      display inline-block
      border-bottom .02rem solid #fb8e7b
      margin-bottom -.01rem
      font-size .16rem
    a.font-grey
      font-size .12rem
      margin-top .05rem
      &:visited
        color #999999
